.navigation{
    margin: 2px 10px 2px 0px;
    text-decoration: none;
    font-family: "Sora", sans-serif;
    color: black;
    font-size: 15px;
    text-transform: uppercase;
}

.velo-heading{
    text-decoration: none;
    color: black;
    font-family: "Sora", sans-serif;
    font-size: 30px;
    margin-left: 0px;
    margin-right: 30px;
}

.navgroup{
    text-align: center;
}

.main-heading{
    text-align: center;
    margin-top: 20px;
}

.usps{
    display: flex;
    justify-content: space-around;
}

.braided-special-heading{
    text-align: center;
    font-size: 25px;
    width: 100%;
    font-family: "Sora", sans-serif;
}

.braided-specials, .testimonials, .choose-us-section, .appointment-booking, .locations, .footer{
    display: flex;
    justify-content: space-evenly;
}

.testimonials{
    margin-top: 20px;
}

.reviews, .choose-us-heading, .book-appointment-heading, .locations-heading{
    font-family: "Sora", sans-serif;
    text-align: center;
}

.day-subheading, .payment-subheading{
    text-align: center;
}

.get-slot-button{
    display: block;
    margin: 0px auto;
}

.footer{
    margin-top: 30px;
}

.services-heading, .blogs-heading{
    text-align: center;
    font-family: "Sora", sans-serif;
}

.hairstyles-grid{
    display: grid;
    grid-template-columns: auto auto;
    margin: 0px auto;
}

.hairstyles-grid div{
    text-align: center;
    border: 1px solid black;
    padding: 30px;
    /* font-size: 30px; */
    margin: 10px;
    font-family: "Sora", sans-serif;
}

.hairstyles-link, .open-slot-link{
    text-decoration: none;
    color: black;
}

.footer-elements a{
    text-decoration: none;
    color: black;
}

.blog-categories{
    display: grid;
    grid-template-columns: auto auto auto auto;
    margin: 0px auto;
}

.blog-categories div{
    text-align: center;
    border: 1px solid black;
    border-radius: 10px;
    padding: 30px;
    /* font-size: 30px; */
    margin: 20px 10px;
    font-family: "Sora", sans-serif;
}

.blog-links{
    text-decoration: none;
    color: black;
}

.latest-blogs{
    display: grid;
    grid-template-columns: auto auto;
}

.latest-blogs div{
    border: 1px solid black;
    border-radius: 10px;
    padding: 10px;
    /* font-size: 30px; */
    margin: 10px;
    font-family: "Sora", sans-serif;
}

.read-blogs-heading{
    text-align: center;
    font-family: "Sora", sans-serif;
}

.form-submission{
    display: grid;
    grid-template-columns: auto auto;
    margin: 10px;
    justify-content:space-evenly;
}

.form-submission div{
    margin: 10px;
}

.form-submit{
    display: block;
    margin: 0px auto;
}

.heading-appointment{
    text-align: center;
    font-family: "Sora", sans-serif;
}

.about-heading{
    text-align: center;
    font-family: "Sora", sans-serif;
}

.staff-members{
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: space-evenly;
}

.staff-members div{
    margin: 15px;
}

.contact-us-heading{
    text-align: center;
    font-family: "Sora", sans-serif;
}

.contact-us-cta{
    display: grid;
    grid-template-columns: auto auto auto;
    margin: 10px;
    justify-content:space-evenly;
}

.icons{
    display: block;
    width: 100px;
    margin: 0px auto;
}

.social-media-header{
    text-align: center;
    font-family: "Sora", sans-serif;
    margin-top: 40px;
}

.social-media-handles{
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
    margin: 10px;
    justify-content:space-evenly;
}

.social-icons{
    width: 100px;
    height: 100px;
}

.quick-links-heading{
    text-align: center;
    font-family: "Sora", sans-serif;
    margin-top: 40px;
}

.quick-links-section{
    display: grid;
    grid-template-columns: auto auto auto auto;
    margin: 10px;
    justify-content:space-evenly;
}

.quick-links{
    text-decoration: none;
    color: black;
}

.quick-links-section div{
    border: 1px solid black;
    border-radius: 10px;
    padding: 10px;
    /* font-size: 30px; */
    margin: 10px;
    font-family: "Sora", sans-serif;
}

.placeholder1{
    width: 100px;
    display: block;
    margin: 0px auto;
}

.head-office-section div{
    text-align: center;
}

.alternative-contact{
    text-align: center;
    font-family: "Sora", sans-serif;
    margin-top: 40px;
}

.sign-in-icon{
    width: 20px;
}

.cornrow-heading{
    text-align: center;
    font-family: "Sora", sans-serif;
}

.dread-heading{
    text-align: center;
    font-family: "Sora", sans-serif;
}

.men-cuts-heading{
    text-align: center;
    font-family: "Sora", sans-serif;
}

.ponytail-heading{
    text-align: center;
    font-family: "Sora", sans-serif;
}

.upload-heading{
    text-align: center;
    font-family: "Sora", sans-serif;
}

.wigs-products-heading{
    text-align: center;
    font-family: "Sora", sans-serif;
}

.boys-cuts-heading{
    text-align: center;
    font-family: "Sora", sans-serif;
}

.girls-styles-heading{
    text-align: center;
    font-family: "Sora", sans-serif;
}

.sign-in-form {
   display: flex;
   justify-content: space-evenly;
}

.sign-in-velo, .sign-in-heading{
    text-align: center;
    font-family: "Sora", sans-serif;
}

.forgot-password-form{
    display: grid;
    grid-template-columns: auto auto;
    justify-content: center;
}

.forgot-password-form div{
    margin: 20px;
}

.update-passord-heading{
    text-align: center;
    font-family: "Sora", sans-serif;
}

.reset-button{
    display: block;
    margin: 0px auto;
}

.register-heading{
    text-align: center;
    font-family: "Sora", sans-serif;
}

.register-form{
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-evenly;
}

.register-form div{
    margin: 10px;
}

.register-button{
    display: block;
    margin: 0px auto;
}

.nav-links{
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: space-evenly;
}

.profile-details, .profile-edit-form{
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-around;
}

.profile-row, .form-group{
    margin: 5px;
    border: 2px solid palevioletred;
    padding: 10px;
    border-radius: 10px;
}

.specials-heading, .specials-subheading, .specials-end-date{
    text-align: center;
    font-family: "Sora", sans-serif;
}

.cornrow-special{
    width: 200px;
}

.current-specials-content{
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: space-evenly;
    margin-top: 50px;
}

.special-breadcrumb{
    display: flex;
    justify-content: space-between;
    margin: 20px 50px;
}

.special-breadcrumb a{
    text-decoration: none;
    color: black;
    font-family: "Sora", sans-serif;
    border: 1px solid black;
    border-radius: 5px;
    padding: 10px;
}

.cornrow-special-section, .double-pigtail-special-section, .side-parted-cornrows-special-section{
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-evenly;
    margin-top: 20px;
}

.cornrow-special-section-1, .double-pigtail-special-section-1, .side-parted-cornrows-special-section-1{
    margin-right: 20px;
}

.cornrow-special-section-2, .double-pigtail-special-section-2, .side-parted-cornrows-special-section-2{
    text-align: center;
    border: 1px solid gainsboro;
    border-radius: 10px;
    padding: 20px;
}

.cornrow-special-description, .double-pigtail-special-description, .side-parted-cornrows-special-description{
    width: 300px;
    text-wrap: initial;
}

.hairstyle-image{
    display: block;
    margin: 0px auto;
    width: 300px;
    border-radius: 10px;
    transition: opacity 0.3s ease;
}

.cornrow-book-pay-btn, .double-pigtail-book-pay-btn, .side-parted-cornrows-book-pay-btn{
    margin-top: 40px;
    padding: 10px;
    border: 1px solid grey;
    border-radius: 5px;
    font-weight: bold;
}

.hairstyle-colours{
    display: flex;
    justify-content: space-around;
}

.hairstyle-colours div{
    margin: 10px
}

.brown{
    background-color: brown;
    width: 50px;
    height: 20px;
    border: none;
    border-radius: 2px;
}

.black{
    background-color: black;
    width: 50px;
    height: 20px;
    border: none;
    border-radius: 2px;
}

.grey{
    background-color: grey;
    width: 50px;
    height: 20px;
    border: none;
    border-radius: 2px;
}

.maroon{
    background-color: maroon;
    width: 50px;
    height: 20px;
    border: none;
    border-radius: 2px;
}

.dark-purple{
    background-color: #360F5A;
    width: 50px;
    height: 20px;
    border: none;
    border-radius: 2px;
}

.cornrow-reviews-heading, .double-pigtail-reviews-heading, .side-parted-cornrows-reviews-heading{
    text-align: center;
    font-family: "Sora", sans-serif;
    margin-top: 50px;
}

.cornrow-reviews, .double-pigtail-reviews, .side-parted-cornrows-reviews{
    border: 1px solid gainsboro;
    border-radius: 10px;
    margin-top: 10px;
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: space-evenly;
}

.colour-btn.selected {
    border: 3px solid #fff;
    transform: scale(1.2);
}

.cornrow-hairstyle-list, .young-girls-hairstyle-list{
    display: grid;
    grid-template-columns: auto auto auto;
    margin-bottom: 20px;
}

.cornrow-images, .young-girls-hairstyle-images{
    width: 200px;
    height: 200px;
}

.view-product-button{
    display: flex;
    justify-content: center;
}